@import "tailwindcss";

:root {
  --background: #874a09;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-body: var(--font-body);
  --font-display: var(--font-display);
}

/* Your global theme setup */
body {
  background: linear-gradient(to bottom, #faa96b, #a44b08); /* #f5e7dc */
  color: #2E1F17;
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

/* Optional: make headings stylish */
h1, h2, h3 {
  font-family: var(--font-display);
  font-weight: 700;
  letter-spacing: -0.5px;
}

